/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Build/*

/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj

.DS_Store
Thumbs.db

/Assets/AssetStoreTools/
/Assets/AssetStoreTools.meta

/Documentation/
/.dropbox.attr

/Dev References

/Packages/*.unitypackage

/Assets/WorkInProgress
/Assets/WorkInProgress.meta
/Assets/InControl/Examples/TouchControls.meta
/Assets/InControl/Examples/TouchControls/
/Assets/InControl/Library/Touch.meta
/Assets/InControl/Library/Touch
/Assets/InControl/Library/OuyaEverywhere.meta
/Assets/InControl/Library/OuyaEverywhere
/Assets/InControl/Library/GUI.meta
/Assets/InControl/Library/GUI
