/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/Build/*
/*.csproj
/*.unityproj
/*.sln
/*.suo
/*.user
/*.userprefs
/*.pidb
/*.booproj
.DS_Store
Thumbs.db
/Assets/AssetStoreTools/
/Assets/AssetStoreTools.meta
/Documentation/
/.dropbox.attr
/Dev References
/Packages/*.unitypackage
/Assets/WorkInProgress
/Assets/WorkInProgress.meta
/Assets/InControl/Examples/TouchControls
/Assets/InControl/Examples/TouchControls.meta
/Assets/InControl/Source/Touch
/Assets/InControl/Source/Touch.meta
/Assets/InControl/Source/OuyaEverywhere
/Assets/InControl/Source/OuyaEverywhere.meta
/Assets/InControl/Source/GUI
/Assets/InControl/Source/GUI.meta
/Assets/UnityTestTools
/Assets/UnityTestTools.meta